<div class="container-fluid" ng-controller="PhoneListController">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            <div class="row">
                Search: <input ng-model="query">
            </div>
            <div class="row">
                Sort by:
                <select ng-model="orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>
            </div>

        </div>
        <div class="col-md-10">
            <!--Body content-->


            <div ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="row">
                <div class="col-md-1">
                    <a href="#/phones/{{phone.id}}" class=""><img height="100%" width="100%"
                                                                          ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"></a>
                </div>
                <div class="col-md-11 nopadding">
                    <a href="#/phones/{{phone.id}}" >{{phone.name}}</a>
                    <p>{{phone.snippet}}</p>
                </div>
            </div>

        </div>
    </div>
</div>