<div class="container-fluid" ng-controller="PhoneListController">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            <div class="row">
                Search: <input ng-model="query">
            </div>
            <div class="row">
                Sort by:
                <select ng-model="orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>
            </div>

        </div>
        <div class="col-md-10">
            <div class="phones">
                <div ng-repeat="phone in phones | filter: query| orderBy:orderProp">
                    <phone phone-object="phone" on-click="click()">

                    </phone>

                </div>
            </div>
        </div>
    </div>
</div>